vendor/
node_modules/
.env
.env.backup
storage/logs/
storage/framework/
bootstrap/cache/
public/hot
public/storage
*.log
.phpunit.result.cache

# Fichiers inutiles
*.blade.php.php
GenerateurFichiersTest.ps1
generate_test.php
Image.pdf
*.tmp
*.bak

